body, html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  position: relative;
  width: 100%;
  height: 100%;
}

@property --blue-color-percentage {
  syntax: "<percentage>";
  initial-value: 0.5%;
  inherits: false;
}

@property --red-color-percentage {
  syntax: "<percentage>";
  initial-value: 0.5%;
  inherits: false;
}

.upload-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #ff9900 var(--red-color-percentage),
    #4f9b5c var(--blue-color-percentage)
  );
  transition-property: --blue-color-percentage, --red-color-percentage;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  z-index: 1;
}

.download-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    #ff3d00 var(--red-color-percentage),
    #00b3ff var(--blue-color-percentage)
  );
  transition-property: --blue-color-percentage, --red-color-percentage;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.upload-progress-number,
.download-progress-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
  pointer-events: none;
  user-select: none;
  font-family: monospace;
  text-shadow: 3px 3px 0 #9e9e9e, -3px 3px 0 #9e9e9e, 3px -3px 0 #9e9e9e, -3px -3px 0 #9e9e9e;
  font-size: 5rem;
}
